@import '../abstracts/mixins';
@import '../abstracts/variables';

.footer-block {
  display: flex;
  background: $footer-background-color;
  height: 40vh;
  bottom: 0;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  color: $text-color;
  padding-top: 80px;
  border-top: 1px solid rgb(24 24 24);
  user-select: none;

  > h2 {
    font-size: 26px;
  }

  .socials {
    display: flex;
    margin-bottom: 30px;

    .socials-list {
      display: flex;
      gap: 50px;
      flex-direction: row;
    }
  }

  .copyright {
    font-size: 13px;
    font-style: normal;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .social-icon {
    width: 33px;
    aspect-ratio: 1;
    cursor: pointer;

    .icon path {
      fill: aliceblue;
      transition: fill 0.5s ease;
    }

    &:hover {
      .icon path {
        fill: rgb(0 255 251);
      }
    }
  }
}
