@import '../abstracts/mixins';
@import '../abstracts/variables';

.footer-block {
  display: flex;
  background: $footer-background-color;
  height: 40vh;
  bottom: 0;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  color: $text-color;
  padding-top: 80px;
  border-top: 1px solid rgb(24 24 24);
  user-select: none;

  .footer-socials {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
  }

  .copyright {
    font-size: 13px;
    font-style: normal;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-icon {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .social-icon {
    width: 30px;
    aspect-ratio: 1;
    cursor: pointer;
  }
}
