.header-block {
  padding-left: 10px;
  height: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--header-background-color);
  backdrop-filter: blur(3px);
  z-index: 10000;

  .header-link {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
  }

  .navbar-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;

    .burger-menu-block {
      color: var(--text-color);
      display: flex;
      padding-left: 10px;
    }
  }

  .search-input-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
