@import '../abstracts/variables';

.in-case-you-missed-it-block {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  color: $text-color;
}

.in-case-you-missed-wrapper {
  align-items: center;

  .title {
    margin-bottom: 10px;
  }
}

.in-case-you-missed-img-wrapper {
  max-width: 500px;
  margin: 0 auto;
  min-height: 250px;
}
