@import '../abstracts/mixins';
@import '../abstracts/variables';

.multi-news-block {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  flex-direction: row;
  gap: 20px;

  .news-text {
    display: flex;
    min-height: 30px;
    margin: 10px 0;

    @include hover-underline;
  }

  .multi-news-list-item {
    min-height: 64px;
  }

  .main-news-title {
    min-height: 48px;
    color: $text-color;
    font-size: 20px;
    margin: 5px 0;

    @include hover-underline;
  }

  .news-category-name {
    color: $text-color;
    margin: 5px 0 10px;
  }

  .multi-news {
    padding: 20px;
    border-radius: 30px;
    display: flex;
    width: 430px;
    min-height: 500px;
    flex-direction: column;
    border: 1px solid transparent;
    transition: $news-transition-on-hover;

    &:hover {
      @include hover-background-color;
    }

    .multi-news-img-wrapper {
      position: relative;
      min-height: 215px;
      max-width: 100%;
      overflow-x: hidden;
    }
  }
}

@media (width >= 320px) {
  .multi-news-block {
    gap: 5px;
    padding: 2px;
    flex-direction: column;

    .multi-news {
      border-radius: 10px;
      padding: 10px;
      width: 100%;

      .multi-news-img-wrapper {
        min-height: 150px;
      }
    }

    margin-bottom: 10px;
  }
}

@media (width >= 480px) {
  .multi-news-block {
    .multi-news {
      .multi-news-img-wrapper {
        min-height: 200px;
      }
    }
  }
}

@media (width >= 640px) {
  .multi-news-block {
    padding: 10px;

    .multi-news {
      padding: 15px;
    }
  }
}

@media (width >= 768px) {
  .multi-news-block {
    flex-direction: row;

    .multi-news {
      .multi-news-img-wrapper {
        min-height: auto;
      }
    }
  }
}
