@import '../abstracts/mixins';
@import '../abstracts/variables';

.spotlight-block {
  display: flex;
  height: 100%;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  color: $text-color;
  margin-bottom: 80px;

  .spotlight-title-wrapper {
    align-items: start;

    .spotlight-title {
      display: flex;
      flex-shrink: 1;
    }
  }

  .spotlight-content-wrapper {
    align-items: center;
    padding: 20px;
    border-radius: 30px;
  }

  .spotlight-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }

  .spotlight-item {
    display: flex;
    width: 650px;
    flex-direction: row;

    .spotlight-title-and-description-wrapper {
      display: flex;
      flex-direction: column;

      .spotlight-text {
        font-size: 20px;

        @include hover-underline;
      }

      .spotlight-description {
        font-size: 15px;

        @include hover-underline;

        width: 100%;
      }
    }

    .spotlight-img-wrapper {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
