@import '../abstracts/mixins';
@import '../abstracts/variables';

.spotlight-block {
  display: flex;
  height: 100%;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  color: $text-color;

  .spotlight-title-wrapper {
    align-items: start;

    .spotlight-title {
      display: flex;
      flex-shrink: 1;
    }
  }

  .spotlight-content-wrapper {
    align-items: center;
    border-radius: 30px;
    width: 100%;
  }

  .spotlight-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .img-and-text-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .spotlight-item {
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 20px;
    transition: $news-transition-on-hover;
    width: 100%;

    &:hover {
      @include hover-background-color;
    }

    .spotlight-title-and-description-wrapper {
      display: flex;
      flex-direction: column;
      width: 200px;

      .spotlight-text {
        font-size: 20px;

        @include hover-underline;
      }

      .spotlight-description {
        font-size: 15px;

        @include hover-underline;

        padding-top: 20px;
      }
    }

    .spotlight-img-wrapper {
      position: relative;
      max-width: 100%;
      margin: 0 auto;
      min-height: 200px;
    }
  }
}

@media (width >= 320px) {
  .spotlight-block {
    flex-direction: column;

    .spotlight-text {
      padding-left: 12px;
    }

    .spotlight-wrapper {
      width: 100%;
      padding: 2px;
      flex-direction: column;

      .spotlight-item {
        border-radius: 10px;
        padding: 10px;

        .img-and-text-wrapper {
          flex-direction: column-reverse;

          .spotlight-title-and-description-wrapper {
            width: 100%;
          }

          .spotlight-img-wrapper {
            min-height: 150px;
          }
        }
      }
    }
  }
}

@media (width >= 640px) {
  .spotlight-block {
    .spotlight-wrapper {
      padding: 10px;

      .spotlight-item {
        padding: 20px;
      }
    }
  }
}

@media (width >= 768px) {
  .spotlight-block {
    .spotlight-text {
      padding-left: 30px;
    }

    flex-direction: row;

    .spotlight-wrapper {
      padding: 10px;
      flex-direction: column;

      .spotlight-item {
        padding: 20px;

        .img-and-text-wrapper {
          flex-direction: row;

          .spotlight-img-wrapper {
            max-width: 360px;
          }
        }
      }
    }
  }
}
