@mixin hover-effect {
  &:hover {
    background-color: rgb(197 197 197);
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
}

@mixin hover-underline {
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

@mixin hover-background-color {
  &:hover {
    background: var(--news-item-background-color-on-hover);
    transition: opacity 0.3s ease;
  }
}
