$text-color: #fff;
$main-color: #290d29;
$footer-background-color: rgb(50 4 42 / 90%);
$header-background-color: rgb(71 6 59 / 90%);
$loader-background-color: #000;
$container-border-color: rgb(0 0 0 / 44.5%);
$scrollbar-thumb: #48063c;
$scrollbar-thumb-hover: #560747;
$scrollbar-track: #34052b;
$scrollbar-thumb-border-color: rgb(0 0 0 / 79.2%);
$selection-background-color: #c5c5c5;
$selection-color: #000;
