$text-color: #fff;
$body-background-color: #1a1a1d;
$main-block-background-color: #6f2232;
$footer-background-color: #6f2232;
$header-background-color: #6f2231eb;
$loader-background-color: #000;
$container-border-color: rgb(0 0 0 / 44.5%);
$scrollbar-thumb: #6f2232;
$scrollbar-thumb-hover: #7b2637;
$scrollbar-track: #1a1a1d;
$scrollbar-thumb-border-color: rgb(255 255 255 / 20%);
$selection-background-color: #4e4e50;
$selection-color: #000;
$footer-icons-background-color: #fff;
$footer-icons-background-color-on-hover: #aaad;
$central-news-author-color: #a2a2a2;
$news-transition-on-hover: 0.2s ease;
$all-news-background-color: #a2a2a218;
