$text-color: #fff;
$body-background-color: #290d29;
$main-block-background-color: #48063c;
$footer-background-color: rgb(50 4 42 / 90%);
$header-background-color: rgb(71 6 59 / 90%);
$loader-background-color: #000;
$container-border-color: rgb(0 0 0 / 44.5%);
$scrollbar-thumb: #48063c;
$scrollbar-thumb-hover: #560747;
$scrollbar-track: #34052b;
$scrollbar-thumb-border-color: rgb(255 255 255 / 20%);
$selection-background-color: #c5c5c5;
$selection-color: #000;
$footer-icons-background-color: rgb(214 214 214);
$footer-icons-background-color-on-hover: rgb(255 255 255);
