@import "./fonts/fonts",
"./header/header",
"./news/news",
"./footer/footer",
"./news/multiCategoryNews",
"./news/spotlight",
"./news/inCaseYouMissedIt",
"./news/normalize",
"./news/allNews";
@import './news/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --main-color: #000000;
  --footer-background-color: #000000;
  --header-background-color: rgba(35, 35, 35, 0.95);
  --loader-background-color: #000000;
  --news-background-color: rgba(0, 0, 0, 0.3);
  --newsItem-background-color-onHover: rgb(24, 24, 24);
  --container-border-color: rgba(255, 255, 255, 0.1);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--main-color) url("https://getwallpapers.com/wallpaper/full/5/e/2/129307.jpg") no-repeat fixed center center;
  background-size: cover;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100vh;
  -ms-overflow-style: none;
}

.newsLink {
  text-decoration: none;
  height: min-content;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  width: 100%;
  @include hoverUnderline;
}

.imageHover {
  display: block;
  max-width: 100%;
  height: auto;
  @include hoverEffect;
}