@import "./fonts/fonts",
"./header/header",
"./news/news",
"./footer/footer",
"./news/multiCategoryNews",
"./news/spotlight",
"./news/inCaseYouMissedIt",
"./news/normalize",
"./news/allNews";
@import './news/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --main-color: #000000;
  --footer-background-color: rgb(35, 35, 35);
  --header-background-color: rgba(35, 35, 35, 0.95);
  --loader-background-color: #000000;
  --allNewsItem-background-color: rgba(35, 35, 35, 0.95);
  --allNewsItem-background-color-onHover: rgba(49, 49, 49, 0.95);
  --container-border-color: rgba(255, 255, 255, 0.1);
}

body {
  &::-webkit-scrollbar {
    display: none;
  }

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100vh;

  background: var(--main-color);
  -ms-overflow-style: none;
}

.newsLink {
  text-decoration: none;
  height: min-content;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  width: 100%;
  @include hoverUnderline;
}
.imageHover {
  display: block;
  max-width: 100%;
  height: auto;
  @include hoverEffect;
}