@import 'fonts/fonts';
@import "header/header";
@import "news/news";
@import "footer/footer";
@import "news/multiCategoryNews";
@import "news/spotlight";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
}