@import './abstracts/fonts', './abstracts/mixins', './abstracts/variables';
@import './layout/header', './layout/footer';
@import './components/multi-category-news', './components/spotlight',
  './components/in-case-you-missed-it';
@import './pages/all-news', './pages/topheadlines';
@import './base/reset';
@import './components/main-skeleton';

::selection {
  background-color: #c5c5c5;
  color: #000;
}

::-webkit-scrollbar {
  z-index: 100;
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: rgb(25 25 25 / 90%);
  border: 1px solid rgb(35 35 35 / 90%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b;
  transition: 0.5s ease-in-out;
}

body {
  background: $main-color;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;

  .main-block {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background: #2c2c2c56;
    border-radius: 10px;
    margin-top: 70px;
    overflow-x: hidden;
    margin-bottom: 20px;
  }
}

.news-link {
  text-decoration: none;
  height: min-content;
  padding: 0;
  margin: 0;
  color: $text-color;
  width: 100%;
}

.news-link-hover-underline {
  @include hover-underline;
}

.news-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-hover-effect {
  @include hover-effect;
}
