@import './abstracts/fonts', './abstracts/mixins', './abstracts/variables';
@import './layout/header', './layout/footer';
@import './components/multi-category-news', './components/spotlight',
  './components/in-case-you-missed-it';
@import './pages/all-news', './pages/topheadlines';
@import './base/reset';
@import './components/main-skeleton';

::selection {
  background-color: $selection-background-color;
  color: $selection-color;
}

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

::-webkit-scrollbar {
  z-index: 100;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track;
  border: 1px solid rgb(255 255 255 / 10%);
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb;
  border: 1px solid $scrollbar-thumb-border-color;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover;
}

body {
  background: radial-gradient(
    circle at bottom right,
    #5b5b5b -100%,
    #1a1a1d 70%
  );
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;

  .main-block {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 50px;
    overflow-x: hidden;
    margin-bottom: 20px;
    padding: 20px 0;
  }
}

.news-link {
  text-decoration: none;
  height: min-content;
  padding: 0;
  margin: 0;
  color: $text-color;
  width: 100%;
}

.news-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-hover-effect {
  @include hover-effect;
}

@media (width >= 320px) {
  body {
    .main-block {
      margin-bottom: 0;
      padding: 0;
    }
  }
}

@media (width >= 425px) {
  body {
    .main-block {
      margin-bottom: 20px;
      padding: 20px 0;
    }
  }
}

@media (width >= 640px) {
  body {
    .main-block {
      margin-bottom: 20px;
      padding: 0;
    }
  }
}
