@import './abstracts/fonts', './layout/header', './pages/topheadlines',
  './layout/footer', './components/multiCategoryNews', './components/spotlight',
  './components/inCaseYouMissedIt', './pages/allNews', './abstracts/mixins',
  './abstracts/variables', './base/reset';

::selection {
  background-color: #c5c5c5;
  color: #000;
}

::-webkit-scrollbar {
  z-index: 100;
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border: 1px solid rgb(35 35 35 / 90%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(25 25 25 / 90%);
}

body {
  background: $main-color;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;

  .main-block {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.news-link {
  text-decoration: none;
  height: min-content;
  padding: 0;
  margin: 0;
  color: $text-color;
  width: 100%;
}

.news-link-hover-underline {
  @include hover-underline;
}

.news-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-hover-effect {
  @include hover-effect;
}
