* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainBlock {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: coral;
}

.HeaderBlock {
  height: 60px;
  background: chartreuse;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 0 3%;
}

.News {
  background: darkviolet;
  display: flex;
  min-height: calc(100vh - 120px);
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
}

.getDataBtn {
  width: 200px;
  height: 40px;
}

.newsContainer {
  width: 400px;
  background: rgb(255, 234, 8);
  border: 1px solid;
  padding: 20px 10px 10px 10px;
  margin: 10px;
  border-radius: 5px;
  height: min-content;
  word-wrap: break-word;
}

.FooterBlock {
  background: aqua;
  height: 60px;
  display: flex;
}

.newsPicture {
  width: 100%;
  border-radius: 5px;
  padding-top: 10px;
}

.AuthorBlock {
  padding-top: 10px;
}

.titleBlock {
  background: darkslategrey;
}

.descriptionBlock {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.newsLink {
  text-decoration: none;
  color: #000000;
  border-color: #000000;
  height: min-content;
  padding: 0;
  margin: 0;
}

.sourceNamePublishedBlock {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.NavBarMain {
  display: flex;
  flex-direction: row;
  padding: 0 3%;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  width: 400px;
}