.HeaderBlock {
  padding-left: 10px;
  height: 60px;
  justify-content: space-between;
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;

  width: 100vw;
  background-color: rgba(33, 39, 45, 0.90);
  backdrop-filter: blur(3px);
  z-index: 10000;

  .HeaderLink {
    color: #f3f6f9;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 20px;
  }

  .NavBarMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    padding: 0 10px;
    width: 300px;

    .BurgerMenuBlock {
      color: #f3f6f9;
      display: flex;
      padding-left: 10px;
    }
  }

  .searchInputBlock {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .searchInput {

  }
}
