@import 'mixins';

.allNewsBlock {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: start;
  align-items: center;

  .titleBlock {
    display: flex;
    padding: 20px 20px 0;
    font-size: 20px;
  }

  .allNewsItemText {
    display: flex;
    padding: 0 20px 20px;
    color: var(--text-color);
    flex-direction: column;

    .AuthorBlock {
      font-size: 14px;
      display: flex;
      justify-content: start;
    }

    .sourceNamePublishedBlock {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      padding-top: 20px;
      flex-wrap: wrap;

      .publishedAt {
        color: #a2a2a2;
        display: flex;
      }
    }

    .descriptionBlock {
      padding-top: 20px;
      text-align: start;
    }

    .source {
      align-items: start;
      display: flex;
      padding-bottom: 15px;
      font-size: 15px;
      color: #a2a2a2;
      flex-wrap: nowrap;
    }
  }

  .newsContainer {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    background: var(--news-background-color);
    height: max-content;
    word-wrap: break-word;
    border-radius: 30px;
    overflow-x: hidden;
    border: 1px solid var(--container-border-color);
    margin-bottom: 30px;

    .newsPictureContainer {
      min-height: 180px;
      display: flex;
      max-width: 360px;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--container-border-color);
    }

    &:hover {
      @include hoverBackgroundColor
    }
  }

  .pagination {
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    padding: 40px 0;
    align-items: center;
  }

  .masonryGrid {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }
}
