.inCaseYouMissedItBlock {
  display: flex;
  min-height: max-content;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.inCaseYouMissedWrapper {
  align-items: center;

  .title {
    margin-bottom: 10px;
  }
}

.inCaseYouMissedImgWrapper {
  max-width: 500px;
  margin: 0 auto;
  min-height: 250px;
}
