@mixin hoverEffect {
  &:hover {
    background-color: rgba(197, 197, 197, 0.5);
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
}

@mixin hoverUnderline {
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

@mixin hoverBackgroundColor {
  &:hover {
    background: var(--newsItem-background-color-onHover);
    transition: opacity 0.3s ease;
  }
}