@mixin hoverEffect {
    &:hover {
      background-color: rgba(197, 197, 197, 0.5);
      opacity: 0.6;
      transition: opacity 0.1s ease;
    }
}

@mixin hoverUnderline {
  &:hover {
    text-decoration: underline;
  }
}