@import 'mixins';

.multiNewsBlock {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;

  .horizontalRule {
    margin: 5px 0;
    width: 100%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .newsText {
    display: flex;
    min-height: 30px;
    margin: 10px 0;
    @include hoverUnderline;
  }

  .multiNewsListItem {
    min-height: 64px;
  }

  .mainNewsTitle {
    min-height: 48px;
    color: var(--text-color);
    font-size: 20px;
    margin: 5px 0;
    @include hoverUnderline;
  }

  .newsCategoryName {
    color: var(--text-color);
    font-size: 14px;
    margin: 5px 0 10px;
  }

  .multiNews {
    display: flex;
    width: 430px;
    min-height: 500px;
    flex-direction: column;

    .multiNewsImgWrapper {
      min-height: 210px;
      width: 430px;
    }
  }
}