@import 'mixins';

.multiNewsBlock {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  flex-direction: row;
  gap: 20px;

  .newsText {
    display: flex;
    min-height: 30px;
    margin: 10px 0;
    @include hoverUnderline;
  }

  .multiNewsListItem {
    min-height: 64px;
  }

  .mainNewsTitle {
    min-height: 48px;
    color: var(--text-color);
    font-size: 20px;
    margin: 5px 0;
    @include hoverUnderline;
  }

  .newsCategoryName {
    color: var(--text-color);
    font-size: 14px;
    margin: 5px 0 10px;
  }

  .multiNews {
    @include hoverBackgroundColor;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    width: 430px;
    min-height: 500px;
    flex-direction: column;

    .multiNewsImgWrapper {
      min-height: 215px;
      max-width: 100%;
      overflow-x: hidden;
    }
  }
}