@import "mixins";

.spotlightBlock {
  display: flex;
  height: 100%;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  margin-bottom: 80px;

  .titleWrapper {
    align-items: start;

    .spotlightTitle {
      display: flex;
      flex-shrink: 1;
    }
  }

  .spotlightContentWrapper {
    align-items: center;
    padding: 20px;
    border-radius: 30px;
  }

  .spotlightWrapper {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }

  .spotlightItem {
    display: flex;
    width: 650px;
    flex-direction: row;

    .spotlightTitleAndDescriptionWrapper {
      display: flex;
      flex-direction: column;
      .spotlightTitle {
        font-size: 20px;
        @include hoverUnderline;
      }
      .spotlightDescription {
        font-size: 15px;
        @include hoverUnderline;
        width: 100%;
      }
    }
    .spotlightImgWrapper {
      max-width:100%;
      margin: 0 auto;
    }
  }
}
