.multiNewsBlock {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  flex-direction: row;
  margin-top: 70px;
  gap: 20px;

  .horizontalRule {
    margin: 5px 0;
    width: 100%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .newsText {
    display: flex;
    min-height: 30px;
    margin: 10px 0;
  }

  .mainNewsTitle {
    color: #f3f6f9;
    font-size: 20px;
    margin: 5px 0;
  }

  .newsCategoryName {
    color: #f3f6f9;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .multiNews {
    display: flex;
    width: 430px;
    min-height: 600px;
    flex-direction: column;

    .MultiCategoryMainImg {
      width: 430px;
    }
  }
}